@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@source "../views";
@theme {
    --font-geist: "Geist", "sans-serif";
}

/* @plugin "daisyui/theme" {
    name: "nord";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(95.127% 0.007 260.731);
    --color-base-200: oklch(95.127% 0.007 260.731);
    --color-base-300: oklch(89.925% 0.016 262.749);
    --color-base-content: oklch(32.437% 0.022 264.182);
    --color-primary: oklch(59.435% 0.077 254.027);
    --color-primary-content: oklch(98% 0.001 106.423);
    --color-secondary: oklch(69.651% 0.059 248.687);
    --color-secondary-content: oklch(95.127% 0.007 260.731);
    --color-accent: oklch(77.464% 0.062 217.469);
    --color-accent-content: oklch(95.127% 0.007 260.731);
    --color-neutral: oklch(45.229% 0.035 264.131);
    --color-neutral-content: oklch(89.925% 0.016 262.749);
    --color-info: oklch(69.207% 0.062 332.664);
    --color-info-content: oklch(95.127% 0.007 260.731);
    --color-success: oklch(59.435% 0.077 140);
    --color-success-content: oklch(95.127% 0.007 260.731);
    --color-warning: oklch(59.435% 0.077 100);
    --color-warning-content: oklch(95.127% 0.007 260.731);
    --color-error: oklch(59.435% 0.077 27);
    --color-error-content: oklch(95.127% 0.007 260.731);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
} */

@plugin "daisyui/theme" {
    name: "corporate";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(22.389% 0.031 278.072);
    --color-primary: oklch(58% 0.158 241.966);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(55% 0.046 257.417);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(60% 0.118 184.704);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui" {
    themes: corporate;
}

.select2-container--default .select2-selection--single {
    height: 100% !important;
    border-color: #d1d1d4 !important;
}

#select2-university-select-container,
#select2-hei-select-container {
    font-size: 0.75rem !important;
    border-radius: 0.25rem !important;
}

.select2-results__options > li,
.select2-search {
    color: #000000;
}

.select2-results__options > li:hover {
    background: #0082ce !important;
}

li[aria-selected="true"] {
    background: #0082ce !important;
}
